= render :template => "../../../../style-tile/tile.haml"
- @title = "UI Patterns"
- @subnav = "<nav class='section-nav'></nav> "


%section#simple-patterns.element-group
  %h1.section-title Common Patterns
  = render :template => "../drupal/patterns/_messages.haml"
  = render :template => "../drupal/patterns/_pager.haml"
  = render :template => "patterns/_buttons.haml"
