%nav.primary-links
  %ul
    %li
      %a.active{:href => "/index.html"} Style Tile
    %li
      %a{:href => "/markup/common.html"} Common Markup
    %li
      %a{:href => "/markup/html5.html"} Common HTML5
    %li
      %a{:href => "/misc/typography.html"} Typography
    %li
      %a{:href => "/drupal/ui-patterns.html"} Drupal UI Patterns
    %li
      %a{:href => "/ui/ui-patterns.html"} UI Patterns
    %li
      %a{:href => "/misc/colors.html"} Color Guide