- @title = "Color Guide"

%article.color-guide
  %table
    %tr.grey
      %td{"data-sass" => "nth($grey, 1)"}
      %td{"data-sass" => "nth($grey, 2)"}
      %td{"data-sass" => "nth($grey, 3)"}
      %td{"data-sass" => "nth($grey, 4)"}
      %td{"data-sass" => "nth($grey, 5)"}
      %td{"data-sass" => "nth($grey, 6)"}
    %tr.blue-drk
      %td{"data-sass" => "nth($blue-drk, 1)"}
      %td{"data-sass" => "nth($blue-drk, 2)"}
      %td{"data-sass" => "nth($blue-drk, 3)"}
      %td{"data-sass" => "nth($blue-drk, 4)"}
      %td{"data-sass" => "nth($blue-drk, 5)"}
      %td{"data-sass" => "nth($blue-drk, 6)"}
    %tr.blue-mid
      %td{"data-sass" => "nth($blue-mid, 1)"}
      %td{"data-sass" => "nth($blue-mid, 2)"}
      %td{"data-sass" => "nth($blue-mid, 3)"}
      %td{"data-sass" => "nth($blue-mid, 4)"}
      %td{"data-sass" => "nth($blue-mid, 5)"}
      %td{"data-sass" => "nth($blue-mid, 6)"}
    %tr.blue-lte
      %td{"data-sass" => "nth($blue-lte, 1)"}
      %td{"data-sass" => "nth($blue-lte, 2)"}
      %td{"data-sass" => "nth($blue-lte, 3)"}
      %td{"data-sass" => "nth($blue-lte, 4)"}
      %td{"data-sass" => "nth($blue-lte, 5)"}
      %td{"data-sass" => "nth($blue-lte, 6)"}
    %tr.teal
      %td{"data-sass" => "nth($teal, 1)"}
      %td{"data-sass" => "nth($teal, 2)"}
      %td{"data-sass" => "nth($teal, 3)"}
      %td{"data-sass" => "nth($teal, 4)"}
      %td{"data-sass" => "nth($teal, 5)"}
      %td{"data-sass" => "nth($teal, 6)"}
    %tr.green-drk
      %td{"data-sass" => "nth($green-drk, 1)"}
      %td{"data-sass" => "nth($green-drk, 2)"}
      %td{"data-sass" => "nth($green-drk, 3)"}
      %td{"data-sass" => "nth($green-drk, 4)"}
      %td{"data-sass" => "nth($green-drk, 5)"}
      %td{"data-sass" => "nth($green-drk, 6)"}
    %tr.green-lte
      %td{"data-sass" => "nth($green-lte, 1)"}
      %td{"data-sass" => "nth($green-lte, 2)"}
      %td{"data-sass" => "nth($green-lte, 3)"}
      %td{"data-sass" => "nth($green-lte, 4)"}
      %td{"data-sass" => "nth($green-lte, 5)"}
      %td{"data-sass" => "nth($green-lte, 6)"}
    %tr.yellow
      %td{"data-sass" => "nth($yellow, 1)"}
      %td{"data-sass" => "nth($yellow, 2)"}
      %td{"data-sass" => "nth($yellow, 3)"}
      %td{"data-sass" => "nth($yellow, 4)"}
      %td{"data-sass" => "nth($yellow, 5)"}
      %td{"data-sass" => "nth($yellow, 6)"}
    %tr.orange
      %td{"data-sass" => "nth($orange, 1)"}
      %td{"data-sass" => "nth($orange, 2)"}
      %td{"data-sass" => "nth($orange, 3)"}
      %td{"data-sass" => "nth($orange, 4)"}
      %td{"data-sass" => "nth($orange, 5)"}
      %td{"data-sass" => "nth($orange, 6)"}
    %tr.red
      %td{"data-sass" => "nth($red, 1)"}
      %td{"data-sass" => "nth($red, 2)"}
      %td{"data-sass" => "nth($red, 3)"}
      %td{"data-sass" => "nth($red, 4)"}
      %td{"data-sass" => "nth($red, 5)"}
      %td{"data-sass" => "nth($red, 6)"}
    %tr.pink
      %td{"data-sass" => "nth($pink, 1)"}
      %td{"data-sass" => "nth($pink, 2)"}
      %td{"data-sass" => "nth($pink, 3)"}
      %td{"data-sass" => "nth($pink, 4)"}
      %td{"data-sass" => "nth($pink, 5)"}
      %td{"data-sass" => "nth($pink, 6)"}
    %tr.purple-lte
      %td{"data-sass" => "nth($purple-lte, 1)"}
      %td{"data-sass" => "nth($purple-lte, 2)"}
      %td{"data-sass" => "nth($purple-lte, 3)"}
      %td{"data-sass" => "nth($purple-lte, 4)"}
      %td{"data-sass" => "nth($purple-lte, 5)"}
      %td{"data-sass" => "nth($purple-lte, 6)"}
    %tr.purple-drk
      %td{"data-sass" => "nth($purple-drk, 1)"}
      %td{"data-sass" => "nth($purple-drk, 2)"}
      %td{"data-sass" => "nth($purple-drk, 3)"}
      %td{"data-sass" => "nth($purple-drk, 4)"}
      %td{"data-sass" => "nth($purple-drk, 5)"}
      %td{"data-sass" => "nth($purple-drk, 6)"}