////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

// Example Colour Stacks
$black:   tint-stack(black);
$red:     tint-stack(red);
$orange:  tint-stack(orange);
$yellow:  tint-stack(yellow);
$green:   tint-stack(green);
$blue:    tint-stack(blue);
$purple:  tint-stack(purple);
$badass:  shade-stack(#bada55);