-# The total number of possible colours you'd like to include
- @colours = 6

-# A list of images you'd like to use for possible patterns; can use local or external images
-#   Shuttle image courtesy Nasa: http://www.flickr.com/photos/nasahqphoto/8158330724/in/photostream
- @images = ['images/shuttle.jpeg', 'http://lorempixel.com/output/abstract-q-c-640-480-10.jpg', 'http://lorempixel.com/output/abstract-q-c-640-480-1.jpg', 'http://lorempixel.com/output/abstract-q-c-640-480-4.jpg']

-# A list of inspirational words for this Style Tile
- @words = ['Default', 'Minimal', 'Nothing', 'Design Me!']
