-# Client Information
-#   @clientName - The name of your Client
-#   @clientLog - The address to the client's logo image
-#   @author - The Author of the style guide
- @clientName = "NBC Universal"
- @clientLogo = false
- @author = "Author Name"


-# Google Analytics Tracking Code
-#   Whatever number comes after UA
- @GoogleAnalytics = false