= render :template => "../../../color-guide/colors.haml"
- @title = "Color Guide"
- @colors = @colours
- @colorShades = @colourShades

%article.color-guide
  %ul
    - @colors.each do |c|
      - (1..@colorShades).each do |i|
	%li{:data => {:sass => "nth($#{c}, #{i})"}}