-# Choose which sections you'd like to include
-# If you'd like to add a custom section, simply add the .haml file into the custom directory!

- @sections = [['Style Tile', '/index.html'], ['Common Markup', '/markup/common.html'], ['Common HTML5', '/markup/html5.html'], ['Typography', '/misc/typography.html'], ['Drupal UI Patterns', '/custom/drupal/ui-patterns.html'], ['UI Patterns', '/custom/ui/ui-patterns.html'], ['Colour Guide', '/misc/colours.html']]